# Edited by PyNag on Wed May 30 10:18:56 2012
define command{
	command_name                  okc-exc-mem-max
        command_line $USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchangeIS(_Total)\\Exchmem: Maximum Bytes Allocated","Max Bytes Allocaded: %.f"
}
# Edited by PyNag on Wed May 30 10:18:56 2012
define command{
	command_name                  okc-exc-mem-cur
        command_line $USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\\MSExchangeIS(_Total)\\Exchmem: Current Bytes Allocated","Current Bytes Allocated: %.f"
}
# Edited by PyNag on Wed May 30 10:18:56 2012
define command{
	command_name                  okc-exc-mem-all
        command_line $USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\\MSExchangeIS(_Total)\\Exchmem: Maximum Virtual Bytes Allocated"
}
# Edited by PyNag on Wed May 30 10:18:56 2012
define command{
	command_name                  okc-exc-mem-cur-all
        command_line $USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\"\\MSExchangeIS(_Total)\\Exchmem: Current Virtual Bytes Allocated"
}
# Edited by PyNag on Wed May 30 10:18:57 2012
define command{
	command_name                  okc-exc-msg-sent
        command_line    $USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchangeIS Mailbox(_Total)\\Messages Sent","Messages Sent: %.f"
}
# Edited by PyNag on Wed May 30 10:18:57 2012
define command{
	command_name                  okc-exc-msg-deliv
        command_line    $USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchangeIS Mailbox(_Total)\\Messages Delivered","Messages Delivered: %.f"
}
# Edited by PyNag on Wed May 30 10:18:57 2012
define command{
	command_name                  okc-exc-msg-sub
        command_line    $USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchangeIS Mailbox(_Total)\\Messages Submitted","Messages Submitted: %.f"
}
# Edited by PyNag on Wed May 30 10:18:57 2012
define command{
	command_name                  okc-exc-msg-rsc-tot
        command_line    $USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchangeTransport SmtpReceive(_Total)\\Messages Received Total","Messages Received Total: %.f"
}
# Edited by PyNag on Wed May 30 10:18:58 2012
define command{
	command_name                  okc-exc-msg-sent-tot
        command_line    $USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchangeTransport SmtpSend(_Total)\\Messages Sent Total","Messages Sent Total: %.f"
}
# Edited by PyNag on Wed May 30 10:18:58 2012
define command{
	command_name                  okc-exc-msg-sub-tot
        command_line    $USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchangeTransport Queues(_Total)\\Messages Submitted Total","Messages Submitted Total: %.f"
}
# Edited by PyNag on Wed May 30 10:18:58 2012
define command{
	command_name                  okc-exc-byte-sent-tot
        command_line    $USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchangeTransport SmtpSend(_Total)\\Bytes Sent Total","Bytes Sent Total: %.f"
}
# Edited by PyNag on Wed May 30 10:18:58 2012
define command{
	command_name                  okc-exc-byte-recv-tot
        command_line    $USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchangeTransport SmtpReceive(_Total)\\Bytes Received Total","Bytes Received Total: %.f"
}

# Edited by PyNag on Wed May 30 10:18:59 2012
define command{
	command_name                  okc-exc-scl0
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchange Content Filter Agent(_Total)\\Messages with SCL 0"
}
# Edited by PyNag on Wed May 30 10:18:59 2012
define command{
	command_name                  okc-exc-scl1
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchange Content Filter Agent(_Total)\\Messages with SCL 1"
}
# Edited by PyNag on Wed May 30 10:18:59 2012
define command{
	command_name                  okc-exc-scl2
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchange Content Filter Agent(_Total)\\Messages with SCL 2" 
}
# Edited by PyNag on Wed May 30 10:18:59 2012
define command{
	command_name                  okc-exc-scl3
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchange Content Filter Agent(_Total)\\Messages with SCL 3"
}
# Edited by PyNag on Wed May 30 10:18:59 2012
define command{
	command_name                  okc-exc-scl4
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchange Content Filter Agent(_Total)\\Messages with SCL 4"
}
# Edited by PyNag on Wed May 30 10:19:00 2012
define command{
	command_name                  okc-exc-scl5
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchange Content Filter Agent(_Total)\\Messages with SCL 5"
}
# Edited by PyNag on Wed May 30 10:19:00 2012
define command{
	command_name                  okc-exc-scl6
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchange Content Filter Agent(_Total)\\Messages with SCL 6"
}
# Edited by PyNag on Wed May 30 10:19:00 2012
define command{
	command_name                  okc-exc-scl7
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchange Content Filter Agent(_Total)\\Messages with SCL 7"
}
# Edited by PyNag on Wed May 30 10:19:00 2012
define command{
	command_name                  okc-exc-scl8
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchange Content Filter Agent(_Total)\\Messages with SCL 8"
}
# Edited by PyNag on Wed May 30 10:19:01 2012
define command{
	command_name                  okc-exc-scl9
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchange Content Filter Agent(_Total)\\Messages with SCL 9"
}
# Edited by PyNag on Wed May 30 10:19:01 2012
define command{
	command_name                  okc-exc-msg-scan
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchange Content Filter Agent(_Total)\\Messages Scanned","Messages Scanned: %.f"
}

# Edited by PyNag on Wed May 30 10:19:01 2012
define command{
	command_name                  okc-exc-msg-bypass
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchange Content Filter Agent(_Total)\\Messages that Bypassed Scanning","Messages that bypassed Scanning: %.f"
}
# Edited by PyNag on Wed May 30 10:19:01 2012
define command{
	command_name                  okc-exc-msg-del
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchange Content Filter Agent(_Total)\\Messages Deleted","Messages Deleted: %.f"
}
# Edited by PyNag on Wed May 30 10:19:01 2012
define command{
	command_name                  okc-exc-msg-rej
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchange Content Filter Agent(_Total)\\Messages Rejected","Messages Rejected: %.f"
}
# Edited by PyNag on Wed May 30 10:19:02 2012
define command{
	command_name                  okc-exc-msg-quar
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchange Content Filter Agent(_Total)\\Messages Quarantined","Messages Quarantined: %.f"
}
# Edited by PyNag on Wed May 30 10:19:02 2012
define command{
	command_name                  okc-exc-msg-unkn
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchange Content Filter Agent(_Total)\\Messages with SCL Unknown"
}

# Edited by PyNag on Wed May 30 10:19:02 2012
define command{
	command_name                  okc-exc-msg-user
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchangeIS\\User Count","User Count: %.f"
}
# Edited by PyNag on Wed May 30 10:19:02 2012
define command{
	command_name                  okc-exc-msg-active-user
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchangeIS\\Active User Count","Active User Count: %.f"
}
# Edited by PyNag on Wed May 30 10:19:03 2012
define command{
	command_name                  okc-exc-msg-unique-usr
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489  -v COUNTER -l "\\MSExchange OWA\\Current Unique Users","Current Unique Users: %.f"
}
