
##################################################

# Exchange Stuff

# Edited by PyNag on Wed May 30 14:06:10 2012
define service {
	use                           okc-exchange-service
	name                          okc-exchange-pending-routing
	check_command                 okc-check_exchange_pending_routing!100!200
	service_description	Exchange Pending Routing
	 register                       0
}

# Edited by PyNag on Wed May 30 14:06:11 2012
define service {
	use                           okc-exchange-service
	name                          okc-exchange-remote-queue-length
	check_command                 okc-check_exchange_remote_queue_length!100!200
	service_description	Exchange Remote Queue Length
	 register                       0
}


# Edited by PyNag on Wed May 30 14:06:11 2012
define service {
	use                           okc-exchange-service
	name                          okc-mail-check_bl
	check_command                 okc-check_bl!$HOSTADDRESS$
	service_description	Real-time Blacklists
	 register                       0
}

##################################################

# General Mail Stuff

# Edited by PyNag on Wed Jul 27 11:37:45 2011
define service {
	use                           okc-exchange-service
	name                          okc-mail-check_imap
	check_command		check_imap
	service_description	imap
	 register                       0
}
# Edited by PyNag on Wed Jul 27 11:37:45 2011
define service {
	use                           okc-exchange-service
	name                          okc-mail_check_pop
	check_command		check_pop
	service_description	pop3
	 register                       0
}
# Edited by PyNag on Wed Jul 27 11:37:46 2011
define service {
	use                           okc-exchange-service
	name                          okc-mail-check_smtp
	check_command		check_smtp
	service_description	SMTP
	 register                       0
}


##################################################

# Outlook Web Access Stuff
# Edited by PyNag on Wed May 30 14:06:11 2012
define service {
	use                           okc-exchange-service
	name                          okc-exchange-check_owa
	check_command                 okc-check_owa_http
	service_description	Outlook Web Access
	 register                       0
}

# Edited by PyNag on Wed May 30 14:06:12 2012
define service {
	use                           okc-exchange-service
	name                          okc-exchange-check_owa_https
	check_command                 okc-check_owa_https
	service_description	SSL Certificate for OWA
	 register                       0
}

# Edited by PyNag on Wed May 30 14:06:12 2012
define service {
	use                           okc-exchange-service
	name                          okc-exchange-check_services
	__EXCHANGE_SKIP_SERVICES 
	check_command                 okc-check_Exchange_all_services
	service_description	Microsoft Exchange Services
	 register                       0
}



# Edited by PyNag on Wed May 30 14:06:12 2012
define service {
	use                           okc-exchange-service
	name                          okc-exchange-check_mailbox
	check_command                 okc-check_nrpe!check_mailbox_health -t 30
        service_description     Exchange MailboxDatabase Health
        #servicegroups           +exchange-services
	register		0
}



# Edited by PyNag on Wed May 30 14:06:13 2012
define service {
	use                           okc-exchange-service
	name                          okc-exchange-check_replication
	check_command                 okc-check_nrpe!check_replication -t 30
        service_description     Exchange Replication Health
        #servicegroups           +exchange-services
        register                0
}

