

define host {
	use		PARENTHOST



	host_name	HOSTNAME
	address		IPADDR

        contact_groups  +GROUP
        hostgroups      +GROUP
};




# This is a template service for HOSTNAME
# Services that belong to this host should use this as a template
define service {
        name                            HOSTNAME
        use                             GROUP-default_service
        host_name                       HOSTNAME
        contact_groups                  +GROUP
        service_groups                  +GROUP

        active_checks_enabled           0
        check_freshness                 1
        freshness_threshold             600
        check_command                   not-fresh

        register                        0
}

