# Edited by PyNag on Wed Jul 27 11:34:38 2011
define service{
        use             generic-service
	name                          okc-lotus-service
        register        0
}




# General Mail Stuff
# Edited by PyNag on Wed Jul 27 11:37:52 2011
define service {
	use                           okc-lotus-service
	name                          okc-lotus-check_imap
        check_command           check_imap
        service_description     imap
	 register                       0
}
# Edited by PyNag on Wed Jul 27 11:37:52 2011
define service {
	use                           okc-lotus-service
	name                          okc-lotus-check_pop
        check_command           check_pop
        service_description     pop3
	 register                       0
}
# Edited by PyNag on Wed Jul 27 11:37:52 2011
define service {
	use                           okc-lotus-service
	name                          okc-lotus-check_smtp
        check_command           check_smtp
        service_description     smtp
	 register                       0
}



# Check if lotus notes services are up and running
# Lotus Domino Diagnostics (CLotusDomino): started, Lotus Domino Server (SLotusDominoData): started 

# Edited by PyNag on Wed May 30 14:06:21 2012
define service {
	use                           okc-lotus-service
	name                          okc-lotus-check_services
	check_command                 okc-check_nrpe!CheckServiceState -a ShowAll 'Lotus Domino Diagnostics (CLotusDomino)' "Lotus Domino Server (SLotusDominoData)"
        service_description     Lotus Notes services
        register                0
}

# Edited by PyNag on Wed Jul 27 11:37:52 2011
define service {
	use                           okc-lotus-service
	name                          okc-lotus-check_nrpc
	check_command		check_tcp!1352
	service_description	Notes Remote Procedure Call
	register		0
}

# Edited by PyNag on Wed May 30 14:06:21 2012
define service {
	use                           okc-lotus-service
	name                          okc-lotus-check_bl
	check_command                 okc-check_bl!$HOSTADDRESS$
	service_description	Real-Time Blacklists
	 register                       0
}
