
# Edited by PyNag on Wed May 30 10:36:18 2012
define service {
        service_description             APC Health Status
        use                             generic-service
	name                          okc-apc-check_health

	__SNMP_COMMUNITY		public
	check_command                 okc-apc-check_health!$_SERVICE_SNMP_COMMUNITY$
	register			0
}


# Edited by PyNag on Wed May 30 10:36:19 2012
define service {
        service_description             SNMP Connectivity
        use                             generic-service
	name                          okc-apc-check_snmp
	check_command                 okc-check_snmp_connectivity
	register			0
	_SNMP_COMMUNITY		public

}

