
# Edited by PyNag on Wed May 30 14:06:25 2012
define service {
	use			generic-service
	name                          okc-procurve-check_snmp_connectivity
	service_description	SNMP Connectivity

	check_command                 okc-check_snmp_connectivity
	_SNMP_COMMUNITY		public
	register		0
}

