# Edited by PyNag on Wed May 30 10:19:09 2012
define command {
    command_name                  okc-brocade_check_health
    command_line $USER1$/check_brocade_env -H $HOSTADDRESS$ -c '$_SERVICE_SNMP_COMMUNITY$' -l
}


# Edited by PyNag on Wed May 30 10:19:09 2012
define command {
    command_name                  okc-brocade_check_interface_statistics
    command_line $USER1$/check_brocade_interfaces.py -H $HOSTADDRESS$ --snmp_version 2c --snmp_community  '$_SERVICE_SNMP_COMMUNITY$'
}

# Edited by PyNag on Wed May 30 10:19:18 2012
define command {
    command_name                  okc-brocade-check_interfaces
    command_line            $USER1$/check_snmp_interfaces -B -H $HOSTADDRESS$ -C '$_SERVICE_SNMP_COMMUNITY$'
}

# Edited by PyNag on Wed May 30 10:19:10 2012
define command {
	command_name                  okc-brocade_connectivity
	command_line	$USER1$/check_snmp_connectivity -H $HOSTADDRESS$ -C '$_SERVICE_SNMP_COMMUNITY$'
}