

# Edited by PyNag on Wed Jul 27 11:34:45 2011
define service {
	use			generic-service
	name                          okc-hp-check_printer
	__SNMP_COMMUNITY	public

	check_command		check_hpjd!-C $_SERVICE_SNMP_COMMUNITY$	
	service_description	Printer Status

	 register                       0
}


# Edited by PyNag on Wed May 30 14:06:25 2012
define service {
        use                             generic-service
	name                          okc-hp-check_snmp

        service_description             SNMP Connectivity
        __SNMP_COMMUNITY               public
        _SNMP_COMMUNITY               public
	check_command                 okc-check_snmp_connectivity!$_SERVICE_SNMP_COMMUNITY$

	 register                       0
}

