# Edited by PyNag on Wed May 30 14:06:33 2012
define service {
	use			generic-service
	name                          okc-nginx-check_nginx
	service_description	Nginx Status
	check_command                 okc-nginx-check_nginx!$_SERVICE_EXTRAOPTIONS$
	check_interval		1
	__PATH			/server-status
	__EXTRAOPTIONS
	register		0
}
