# Edited by PyNag on Wed May 30 10:18:11 2012
define command{
	command_name                  okc-process-service-perfdata-file
        command_line    /bin/mv /var/spool/nagios/service-perfdata /var/spool/pnp4nagios/service-perfdata.$TIMET$
 }

# Edited by PyNag on Wed May 30 10:18:11 2012
define command{
	command_name                  okc-process-host-perfdata-file
        command_line    /bin/mv /var/spool/nagios/host-perfdata /var/spool/pnp4nagios/host-perfdata.$TIMET$
 }
