# Edited by PyNag on Wed May 30 10:18:10 2012
define command{
	command_name                  okc-perty-notify-service-by-email
        command_line    $USER1$/perty-nagios-mailer.pl "$CONTACTEMAIL$" "$LONGDATETIME$" "$NOTIFICATIONTYPE$" "$HOSTALIAS$" "$HOSTADDRESS$" "$SERVICEDESC$" "$SERVICESTATE$" "$SERVICEOUTPUT$" 
        }

