# Edited by PyNag on Wed Jan 23 03:28:23 2013
define service {
	name		vmware-datacenter
	use		generic-service
	check_command	vmware-datacenter
	register 	0
	__USERNAME	nagios
	__PASSWORD	changeme
	__COMMAND	mem
	__SUBCOMMAND	used
	__WARNING	~: 
	__CRITICAL	~: 
	icon_image                    vmware.png
}

define service {
        name            vmware-vcenter
        use             generic-service
        check_command   vmware-vcenter
        register        0
        __USERNAME      nagios
        __PASSWORD      changeme
        __COMMAND       mem
        __SUBCOMMAND    used
        __WARNING       ~:
        __CRITICAL      ~:
        icon_image                    vmware.png
}

