

# Edited by PyNag on Wed May 30 10:19:16 2012
define command {
	command_name                  okc-check_hpasm
	command_line	$USER1$/check_hpasm -H $HOSTADDRESS$ -C $_SERVICESNMP_COMMUNITY$ --perfdata=long -v
}
