# Edited by PyNag on Wed Jul 27 11:34:44 2011
define service {
	use			generic-service
	name                          okc-hp-service
	register		0
	check_interval		10
	retry_interval		5
}


# Edited by PyNag on Wed May 30 10:37:12 2012
define service {
	use                           okc-hp-service
	name                          okc-hp-check_snmp_connectivity
	service_description	SNMP Connectivity

	check_command                 okc-check_snmp_connectivity
	_SNMP_COMMUNITY		public
	register		0
}

# Edited by PyNag on Wed May 30 10:37:12 2012
define service {
	use                           okc-hp-service
	name                          okc-hp-check_hpasm
	service_description	Hardware Status

	check_command                 okc-check_hpasm
	_SNMP_COMMUNITY		public
	register		0
}

# Edited by PyNag on Wed May 30 10:37:12 2012
define service {
	use                           okc-hp-service
	name                          okc-hp-check_hpacucli
        service_description     HP Raid Status

	check_command                 okc-check_nrpe!check_hpacucli -t 60
        register                0
}




