
define service {
	use			generic-service
	name			linux-service
	servicegroups		+linux-services
	register		0
}
define service {
	use			linux-service
	name			linux-check_disks
	service_description	Disk Usage
	#check_command		check_disks!/C:10:5
	check_command		check_disks
	register		0
}


define service {
	use			linux-service
	name			linux-check_load
	service_description	Load
	check_command		check_nrpe!check_load -a 15,10,5 30,25,20
	register		0
}


define service {
	use			linux-service
	name			linux-check_uptime

	check_command		check_nrpe_status
	service_description	Uptime
	register		0
}


define service {
	use			linux-service
	name			linux-check_procs

	check_command		check_nrpe!check_procs
	service_description	Running Processes
	register		0
}

define service {
        use                     linux-service
        name                    linux-check_time

        check_command           check_time!60!86400
        service_description     Time
	register		0
}

define service {
        use                     linux-service
        name                    linux-check_crond

        check_command           check_nrpe!check_procs -a 1: 0:10 crond
        service_description     Process crond
	register		0
}


define service {
        use                     linux-service
        name                    linux-check_ssh

        check_command           check_ssh
        service_description     SSH Connectivity
	register		0
}
