# Edited by PyNag on Wed May 30 10:19:09 2012
define command{
	command_name                  okc-check_nrpe_status
        command_line	$USER1$/check_nrpe -H $HOSTADDRESS$ 
}


# Edited by PyNag on Wed May 30 10:19:09 2012
define command {
	command_name                  okc-check_disks
	command_line	$USER1$/ok/check_disks.pl -H $HOSTADDRESS$  -v $ARG1$ $ARG2$ $ARG3$ $ARG4$ $ARG5$ $ARG6$ $ARG6$ $ARG6$
}


# Edited by PyNag on Wed May 30 10:19:09 2012
define command {
	command_name                  okc-check_time
  command_line  $USER1$/check_time.sh -H $HOSTADDRESS$ -w $ARG1$ -c $ARG2$
}

# Edited by PyNag on Wed May 30 10:19:10 2012
define command {
	command_name                  okc-crit2warn
 command_line	$USER1$/crit2warn.sh $ARG1$ $ARG2$ $ARG3$ $ARG4$
}


# Edited by PyNag on Wed May 30 10:19:10 2012
define command {
	command_name                  okc-check_snmp_connectivity
	command_line	$USER1$/check_snmp_connectivity -H $HOSTADDRESS$ -C $_SERVICESNMP_COMMUNITY$
}


define command {
	command_name			okc-check_ping
	command_line			$USER1$/check_ping -H $HOSTADDRESS$ -w '$_SERVICE_WARNING_ROUND_TRIP$,$_SERVICE_WARNING_PACKETLOSS$' -c '$_SERVICE_CRITICAL_ROUND_TRIP$,$_SERVICE_CRITICAL_PACKETLOSS$'
}


define command {
	command_name			okc-check_dummy
	command_line			$USER1$/check_dummy '$_SERVICE_EXIT_CODE$' '$_SERVICE_MESSAGE$'
}
