define service {
    use			generic-service
    service_description	File Check
    name			okc-CheckFile2
    __FILTER_TYPE		in
    __FILE_SIZE            	>0M
    __FILE_MODIFIED     	>0s
    __PATH                        c:\program files
    __PATTERN                 	*.*
    __OUTPUT                   	%matches% out of %files% files match filter expression
    __MAX_DIR_DEPTH           	0
    __ALIAS			files found

    __WARN_IF_LESS_THAN	      0
    __WARN_IF_MORE_THAN       2
    __CRIT_IF_LESS_THAN       0
    __CRIT_IF_MORE_THAN       100

    check_command		okc-check_nrpe!CheckFile2 -a filter='$_SERVICE_FILTER_TYPE$' filter+size='$_SERVICE_FILE_SIZE$' filter+written='$_SERVICE_FILE_MODIFIED$' path='$_SERVICE_PATH$' pattern='$_SERVICE_PATTERN$' master-syntax='$_SERVICE_OUTPUT$' max-dir-depth='$_SERVICE_MAX_DIR_DEPTH$' alias='$_SERVICE_ALIAS$' MaxWarn='$_SERVICE_WARN_IF_MORE_THAN$' MaxCrit='$_SERVICE_CRIT_IF_MORE_THAN$' MinWarn='$_SERVICE_WARN_IF_LESS_THAN$' MinCrit='$_SERVICE_CRIT_IF_LESS_THAN$'
    register		0
}



# Edited by PyNag on Wed May 30 14:06:23 2012
define service{
	name                          okc-check-disks
        use                             generic-service
	service_description		disks
	register			0
	check_command                 okc-check_disks
}
# Edited by PyNag on Wed May 30 14:06:23 2012
define service {
	name                          okc-check-nrpe-status
        use                             generic-service
        service_description             nrpe
	check_command                 okc-check_nrpe_status!-H $HOSTADDRES$
	register			0
}


# Edited by PyNag on Wed May 30 14:06:24 2012
define service {
	name                          okc-check-time
        use                             generic-service
        service_description             time
	check_command                 okc-check_time!60!86400
	register			0
}


define service {
	name				okc-check_ping
	use				generic-service
	service_description		Ping
	check_command			okc-check_ping
	__CRITICAL_PACKETLOSS		40%
	__CRITICAL_ROUND_TRIP		500.0
	__WARNING_PACKETLOSS		20%
	__WARNING_ROUND_TRIP		100.0
	register			0
}


define service {
	name				okc-check_dummy
	use				generic-service
	service_description		Dummy Check
	check_command			okc-check_dummy
	__EXIT_CODE			3
	__MESSAGE			This is a dummy message from the check_dummy plugin
	register			0
	notes				This is a dummy service check that can be used for internal testing. 
}
