# Edited by PyNag on Wed May 30 10:36:39 2012
define service {
	use			generic-service
	name			apache-check_status
	check_command                 okc-apache-check_status
	service_description	Apache Statistics
	register		0
}
