
# Edited by PyNag on Wed Jul 27 11:34:43 2011
define service {
        use                             generic-service
	name                          okc-hplibrary-service
        register                        0
        _SNMP_COMMUNITY                 public
}

# Edited by PyNag on Wed May 30 14:06:24 2012
define service {
        service_description             Library Name
	use                           okc-hplibrary-service
	name                          okc-hplibrary-check-name
	check_command                 okc-check_library_name!$_SERVICESNMP_COMMUNITY$
	register			0
}


# Edited by PyNag on Wed May 30 14:06:25 2012
define service {
        service_description             Library Health
	use                           okc-hplibrary-service
	name                          okc-hplibrary-check-health
	check_command                 okc-check_library_health!$_SERVICESNMP_COMMUNITY$
	register			0

}

