# Edited by PyNag on Wed May 30 10:19:20 2012
define command {
	command_name                  okc-cisco-check_ccm
	command_line	$USER1$/check_ccm.py --host $HOSTADDRESS$ --community $_SERVICE_SNMP_COMMUNITY$ --mode $_SERVICE_MODE$ $_SERVICE_EXTRAOPTIONS$ 
}
