# Edited by PyNag on Wed May 30 10:37:21 2012
define service {
	use			generic-service
	name                          okc-cisco-ccm-service
	__SNMP_COMMUNITY	public
	__WARNING		0:
	__CRITICAL		0:
	check_command                 okc-cisco-check_ccm
	__EXTRAOPTIONS
	icon_image		phone.png
	 register                       0
}


# Edited by PyNag on Wed Jul 27 11:38:01 2011
define service {
	use                           okc-cisco-ccm-service
	name                          okc-cisco-ccm-rejected-phones
	service_description	CCM Rejected Phones
	check_command		check_snmp!-C $_SERVICE_SNMP_COMMUNITY$ -o .1.3.6.1.4.1.9.9.156.1.5.7.0 -w $_SERVICE_WARNING$ -c $_SERVICE_CRITICAL$ -l "Rejected Phones"
	__WARNING		1
	__CRITICAL		0:
	 register                       0
}


# Edited by PyNag on Wed Jul 27 11:38:01 2011
define service {
	use                           okc-cisco-ccm-service
	name                          okc-cisco-ccm-registered-phones
	service_description	CCM Registered Phones
	check_command		check_snmp!-C $_SERVICE_SNMP_COMMUNITY$ -o .1.3.6.1.4.1.9.9.156.1.5.5.0  -w $_SERVICE_WARNING$ -c $_SERVICE_CRITICAL$ -l "Registered Phones"
	 register                       0
}

# Edited by PyNag on Wed Jul 27 11:38:01 2011
define service {
	use                           okc-cisco-ccm-service
	name                          okc-cisco-ccm-unregistered-phones
	service_description	CCM Unregistered Phones
	check_command		check_snmp!-C $_SERVICE_SNMP_COMMUNITY$ -o .1.3.6.1.4.1.9.9.156.1.5.6.0 -w $_SERVICE_WARNING$ -c $_SERVICE_CRITICAL$ -l "Unregistered Phones"
	__WARNING		50
	__CRITICAL		100
	 register                       0
}



# Edited by PyNag on Wed Jul 27 11:38:01 2011
define service {
	use                           okc-cisco-ccm-service
	name                          okc-cisco-ccm-version
	service_description	CCM Version
	check_command		check_snmp!-C $_SERVICE_SNMP_COMMUNITY$ -o .1.3.6.1.4.1.9.9.156.1.1.2.1.4.1 -l "CCM Version"
	 register                       0
}


# Edited by PyNag on Wed Jul 27 11:38:02 2011
define service {
	use                           okc-cisco-ccm-service
	name                          okc-cisco-check_ccm_global
	service_description	CCM Global Information
	__MODE			globalinfo
	 register                       0
}


# Edited by PyNag on Wed Jul 27 11:38:02 2011
define service {
	use                           okc-cisco-ccm-service
	name                          okc-cisco-check_ccm_status
        service_description     CCM Cluster Status
        __MODE                  ccm_status
	 register                       0
}

# Edited by PyNag on Wed Jul 27 11:38:02 2011
define service {
	use                           okc-cisco-ccm-service
	name                          okc-cisco-check_ccm_gateways
        service_description     CCM Active Gateways
        __MODE                  gateways
	 register                       0
}





