# Edited by PyNag on Wed May 30 10:19:15 2012
define command {
	command_name                  okc-eva-check_eva
	command_line	python $USER1$/check_eva.py -H $HOSTADDRESS$ --username $_SERVICE_USERNAME$ --password $_SERVICE_PASSWORD$ --mode $_SERVICE_MODE$ $_SERVICE_EXTRAOPTIONS$
}
