# Edited by PyNag on Wed May 30 14:06:24 2012
define service {
	use			generic-service
	name                          okc-eva-check_eva
	check_command                 okc-eva-check_eva
	check_interval		30
	retry_interval		5

	__USERNAME		eva
	__PASSWORD		eva1234
	__EXTRAOPTIONS		
	__MODE			check_systems
	
	register		0
}





# Edited by PyNag on Wed Jul 27 11:37:55 2011
define service {
	use                           okc-eva-check_eva
	name                          okc-eva-check_systems
        service_description     HP EVA Systems
        __MODE                  check_systems

        register                0
}


# Edited by PyNag on Wed Jul 27 11:37:55 2011
define service {
	use                           okc-eva-check_eva
	name                          okc-eva-check_diskgroups
        service_description     HP EVA Diskgroups
        __MODE                  check_diskgroups

        register                0
}

# Edited by PyNag on Wed Jul 27 11:37:55 2011
define service {
	use                           okc-eva-check_eva
	name                          okc-eva-check_disks
        service_description     HP EVA Disks
        __MODE                  check_disks

        register                0
}


# Edited by PyNag on Wed Jul 27 11:37:55 2011
define service {
	use                           okc-eva-check_eva
	name                          okc-eva-check_controllers
        service_description     HP EVA Controllers
        __MODE                  check_controllers

        register                0
}


# Edited by PyNag on Wed Jul 27 11:37:55 2011
define service {
	use                           okc-eva-check_eva
	name                          okc-eva-check_diskshelves
        service_description     HP EVA Diskshelves
        __MODE                  check_diskshelfs

        register                0
}

