

# Edited by PyNag on Wed May 30 10:19:18 2012
define command {
	command_name                  okc-check_snmp_interfaces
        command_line            $USER1$/ok/check_snmp_interfaces -H $HOSTADDRESS$ -C '$ARG1$' $ARG2$
}

