
# Check LOAD
command[check_load]=/usr/lib/nagios/plugins/check_load -w 15,10,5 -c 30,25,20

# Check Diskspace
command[check_disks]=/usr/lib/nagios/plugins/check_disk -w 200 -c 20 -p / -w 10 -c 5 -p /boot -w 400 -c 30 -p /var -w 30 -c 5 -p /tmp 

# Check SWAP utilization
command[check_swap]=/usr/lib/nagios/plugins/check_swap -w 80% -c 20% 


# Various checks
#command[check_named]=/usr/lib/nagios/plugins/check_procs -c 1:1 -C named

