
# Edited by PyNag on Wed May 30 10:18:41 2012
define command {
	command_name                  okc-check_mysql_health
        command_line            $USER1$/check_mysql_health --hostname $HOSTADDRESS$ --port $_SERVICEMYSQLPORT$ --database "$_SERVICEMYSQLDATABASE$" --username $_SERVICEMYSQLUSERNAME$ --password $_SERVICEMYSQLPASSWORD$ --mode $_SERVICEMYSQLMODE$ --warning $_SERVICEMYSQLWARNING$ --critical $_SERVICEMYSQLCRITICAL$ $_SERVICEMYSQLARGUMENTS$
}
