


# Edited by PyNag on Wed May 30 14:06:02 2012
define service {
	name			okc-mysql-service
	use			generic-service
	register		0
	_MYSQLPORT		3306
	_MYSQLHOSTNAME		localhost
	_MYSQLUSERNAME		nagios
	_MYSQLPASSWORD		nagiospassword
	_MYSQLARGUMENTS 
	_MYSQLDATABASE  
	#_MYSQLMODE		connection-time
	#_MYSQLWARNING		0
	#_MYSQLCRITICAL		0
	check_command                 okc-check_mysql_health

}


# Edited by PyNag on Thu Aug  4 13:53:43 2011
define service {
	name			okc-mysql-check_connection-time
	service_description	MySQL connection-time
	use                           okc-mysql-service

	_MYSQLWARNING		1  ; Default Threshold
	_MYSQLCRITICAL		5  ; Default threshold
	_MYSQLMODE		connection-time
	register		0
}


# Edited by PyNag on Thu Aug  4 13:53:43 2011
define service {
	name			okc-mysql-check_querycache-hitrate
	service_description	MySQL querycache-hitrate
	use                           okc-mysql-service

	_MYSQLWARNING		90:  ; Default Threshold
	_MYSQLCRITICAL		80:  ; Default threshold
        _MYSQLMODE		qcache-hitrate
	register		0
}
# Edited by PyNag on Thu Aug  4 13:53:44 2011
define service {
	name			okc-mysql-check_threads-connected
	service_description	MySQL threads-connected
	use                           okc-mysql-service

	_MYSQLWARNING		20  ; Default 10
	_MYSQLCRITICAL		30  ; Default 20
        _MYSQLMODE		threads-connected
	register		0
}
# Edited by PyNag on Thu Aug  4 13:53:44 2011
define service {
	name			okc-mysql-check_threadcache-hitrate
	service_description	MySQL threadcache-hitrate
	use                           okc-mysql-service

	_MYSQLWARNING		:0 ; Default Threshold (90:)
	_MYSQLCRITICAL		:0  ; Default threshold (80:)
        _MYSQLMODE		threadcache-hitrate
	register		0

}













# Edited by PyNag on Thu Aug  4 13:53:44 2011
define service {
	name			okc-mysql-check_qcache-lowmem-prunes
	service_description	MySQL qcache-lowmem-prunes
	use                           okc-mysql-service

	_MYSQLWARNING		1:  ; Default Threshold
	_MYSQLCRITICAL		10  ; Default threshold
        _MYSQLMODE		qcache-lowmem-prunes
	register		0
}
# Edited by PyNag on Thu Aug  4 13:53:44 2011
define service {
	name			okc-mysql-check_keycache-hitrate
	service_description	MySQL myisam-keycache-hitrate
	use                           okc-mysql-service

	_MYSQLWARNING		99:  ; Default Threshold
	_MYSQLCRITICAL		95:  ; Default threshold
        _MYSQLMODE              myisam-keycache-hitrate
	register		0
}
# Edited by PyNag on Thu Aug  4 13:53:44 2011
define service {
	name			okc-mysql-check_bufferpool-hitrate
	service_description	MySQL innodb-bufferpool-hitrate
	use                           okc-mysql-service

	_MYSQLWARNING		90:  ; Default 99:
	_MYSQLCRITICAL		80:  ; Default 95:
        _MYSQLMODE              innodb-bufferpool-hitrate
	register		0
}
# Edited by PyNag on Thu Aug  4 13:53:44 2011
define service {
	name			okc-mysql-check_bufferpool-wait-free
	service_description	MySQL innodb-bufferpool-wait-free
	use                           okc-mysql-service

	_MYSQLWARNING		1  ; Default Threshold
	_MYSQLCRITICAL		10  ; Default threshold
        _MYSQLMODE              innodb-bufferpool-wait-free
	register		0
}
# Edited by PyNag on Thu Aug  4 13:53:44 2011
define service {
	name			okc-mysql-check_log-waits
	service_description	MySQL innodb-log-waits
	use                           okc-mysql-service

	_MYSQLWARNING		1  ; Default Threshold
	_MYSQLCRITICAL		10  ; Default threshold
        _MYSQLMODE              innodb-log-waits
	register		0
}









# Edited by PyNag on Thu Aug  4 13:53:45 2011
define service {
	name			okc-mysql-check_tablecache-hitrate
	service_description	MySQL tablecache-hitrate
	use                           okc-mysql-service

	_MYSQLWARNING		:0  ; Default Threshold (99:)
	_MYSQLCRITICAL		:0  ; Default threshold (95:)
        _MYSQLMODE              tablecache-hitrate
	register		0
}
# Edited by PyNag on Thu Aug  4 13:53:45 2011
define service {
	name			okc-mysql-check_table-lock-contention
	service_description	MySQL table-lock-contention
	use                           okc-mysql-service

	_MYSQLWARNING		1  ; Default Threshold
	_MYSQLCRITICAL		2  ; Default threshold
        _MYSQLMODE              table-lock-contention
	register		0
}
# Edited by PyNag on Thu Aug  4 13:53:45 2011
define service {
	name			okc-mysql-check_index-usage
	service_description	MySQL index-usage
	use                           okc-mysql-service

	_MYSQLWARNING		20:  ; Default Threshold
	_MYSQLCRITICAL		10:  ; Default threshold
        _MYSQLMODE              index-usage
	register		0
}
# Edited by PyNag on Thu Aug  4 13:53:45 2011
define service {
	name			okc-mysql-check_tmp-disk-tables
	service_description	MySQL tmp-disk-tables
	use                           okc-mysql-service

	_MYSQLWARNING		25  ; Default Threshold
	_MYSQLCRITICAL		50  ; Default threshold
        _MYSQLMODE              tmp-disk-tables
	register		0
}
# Edited by PyNag on Thu Aug  4 13:53:45 2011
define service {
	name			okc-mysql-check_slow-queries
	service_description	MySQL slow-queries
	use                           okc-mysql-service

	_MYSQLWARNING		0.1  ; Default Threshold
	_MYSQLCRITICAL		1  ; Default threshold
        _MYSQLMODE              slow-queries
	register		0
}
# Edited by PyNag on Thu Aug  4 13:53:45 2011
define service {
	name			okc-mysql-check_long-running-procs
	service_description	MySQL long-running-procs
	use                           okc-mysql-service

	_MYSQLWARNING		10  ; Default Threshold
	_MYSQLCRITICAL		20  ; Default threshold
        _MYSQLMODE              long-running-procs
	register		0
}
# Edited by PyNag on Thu Aug  4 13:53:46 2011
define service {
	name			okc-mysql-check_sql
	service_description	MySQL sql
	use                           okc-mysql-service

	_MYSQLWARNING		0  ; Default Threshold
	_MYSQLCRITICAL		1  ; Default threshold
        _MYSQLMODE              sql
	register		0
}




# Slave replication stuffs

# Edited by PyNag on Thu Aug  4 13:53:46 2011
define service {
	name			okc-mysql-check_slave-lag
	service_description	MySQL slave-lag
	use                           okc-mysql-service

	_MYSQLWARNING		5  ; Default Threshold
	_MYSQLCRITICAL		10  ; Default threshold
        _MYSQLMODE              slave-lag
	register		0

}


# Edited by PyNag on Thu Aug  4 13:53:46 2011
define service {
	name			okc-mysql-check_slave-io-running
	service_description	MySQL slave-io-running
	use                           okc-mysql-service

	#_MYSQLWARNING		5  ; Default Threshold
	#_MYSQLCRITICAL		10  ; Default threshold
        _MYSQLMODE              slave-io-running
	register		0

}

# Edited by PyNag on Thu Aug  4 13:53:46 2011
define service {
	name			okc-mysql-check_slave-sql-running
	service_description	MySQL slave-sql-running
	use                           okc-mysql-service

	#_MYSQLWARNING		5  ; Default Threshold
	#_MYSQLCRITICAL		10  ; Default threshold
        _MYSQLMODE              slave-sql-running
	register		0

}
