# Edited by PyNag on Wed May 30 10:19:19 2012
define command {
	command_name                  okc-ironport-check_ironport
	command_line	$USER1$/check_ironport $HOSTADDRESS$ $_SERVICE_USERNAME$ $_SERVICE_PASSWORD$ $_SERVICE_MODE$ $_SERVICE_WARNING$ $_SERVICE_CRITICAL$
}
# Edited by PyNag on Wed May 30 10:19:19 2012
define command {
	command_name                  okc-ironport-check_ironport_snmp
	command_line	$USER1$/check_ironport.py --host $HOSTADDRESS$  --snmp_username $_SERVICE_SNMP_USERNAME$ --snmp_security_level $_SERVICE_SNMP_SECLEVEL$ --snmp_password $_SERVICE_SNMP_PASSWORD$ --snmp_community $_SERVICE_SNMP_COMMUNITY$ --snmp_version $_SERVICE_SNMP_VERSION$ --mode $_SERVICE_MODE$ --warning $_SERVICE_WARNING$ --critical $_SERVICE_CRITICAL$ --exclude "$_SERVICE_EXCLUDE$"
}


# Edited by PyNag on Wed May 30 10:19:19 2012
define command {
	command_name                  okc-ironport-check_env
        command_line            $USER1$/check_snmp_env.pl -H $HOSTADDRESS$ -l $_SERVICE_SNMP_USERNAME$ -x $_SERVICE_SNMP_PASSWORD$ -T iron -f
}

