# Edited by PyNag on Wed May 30 14:06:32 2012
define service {
	name                          okc-ironport-service
	use			generic-service
	register		0
	check_command                 okc-ironport-check_ironport
	__USERNAME		nagios_user
	__PASSWORD		nagios_password
	__MODE			status
	__WARNING		5
	__CRITICAL		10
	action_url		/pnp4nagios/graph?host=$HOSTNAME$&srv=$SERVICEDESC$
}

# Edited by PyNag on Wed May 30 14:06:32 2012
define service {
	name                          okc-ironport-service-snmp
	use                           okc-ironport-service
	register		0
	check_command                 okc-ironport-check_ironport_snmp
        __SNMP_USERNAME         guest
        __SNMP_PASSWORD         guest
	__SNMP_SECLEVEL		authNoPriv
	__SNMP_COMMUNITY	public
	__SNMP_VERSION		3
	__EXCLUDE		
}


# Edited by PyNag on Wed Jul 27 11:37:59 2011
define service {
	use                           okc-ironport-service
	name                          okc-ironport-check_status
	service_description	IronPort Status
	__MODE			status
	register		0
}

# Edited by PyNag on Wed Jul 27 11:37:59 2011
define service {
	use                           okc-ironport-service
	name                          okc-ironport-check_cpu
        service_description     IronPort CPU
	max_check_attempts	15
        __MODE                  cpu
	__WARNING		50
	__CRITICAL		90
        register                0
}





# Edited by PyNag on Wed Jul 27 11:37:59 2011
define service {
	use                           okc-ironport-service
	name                          okc-ironport-check_ram
        service_description     IronPort Memory
        __MODE                  ram
        __WARNING               80
        __CRITICAL              90
        register                0
}



# Edited by PyNag on Wed Jul 27 11:37:59 2011
define service {
	use                           okc-ironport-service
	name                          okc-ironport-check_msgxhour
        service_description     IronPort Messages per Hour
        __MODE                  msgxhour
        __WARNING               70000
        __CRITICAL              100000
        register                0
}

# Edited by PyNag on Wed Jul 27 11:37:59 2011
define service {
	use                           okc-ironport-service
	name                          okc-ironport-check_conn_in
        service_description     IronPort Connections Incoming
        __MODE                  conn_in
        __WARNING               70000
        __CRITICAL              100000
        register                0
}

# Edited by PyNag on Wed Jul 27 11:37:59 2011
define service {
	use                           okc-ironport-service
	name                          okc-ironport-check_conn_out
        service_description     IronPort Connections Outgoing
        __MODE                  conn_out
        __WARNING               70000
        __CRITICAL              100000
        register                0
}


# Edited by PyNag on Wed Jul 27 11:37:59 2011
define service {
	use                           okc-ironport-service
	name                          okc-ironport-check_queue
        service_description     IronPort Queue
        __MODE                  queue
        __WARNING               70000
        __CRITICAL              100000
        register                0
}

# Edited by PyNag on Wed Jul 27 11:37:59 2011
define service {
	use                           okc-ironport-service
	name                          okc-ironport-check_workqueue
        service_description     IronPort Work Queue
        __MODE                  workqueue
        __WARNING               70000
        __CRITICAL              100000
        register                0
}

# Edited by PyNag on Wed Jul 27 11:37:59 2011
define service {
	use                           okc-ironport-service
	name                          okc-ironport-check_msgs_in_quarantine
        service_description     IronPort Quarantine
        __MODE                  msgs_in_quarantine
        __WARNING               70000
        __CRITICAL              100000
        register                0
}


# Edited by PyNag on Wed Jul 27 11:38:00 2011
define service {
	use                           okc-ironport-service
	name                          okc-ironport-check_disk_util
        service_description     IronPort Disk Utilization
        __MODE                  disk_util
        __WARNING               90
        __CRITICAL              95
        register                0
}


# Edited by PyNag on Wed Jul 27 11:38:00 2011
define service {
	use                           okc-ironport-service
	name                          okc-ironport-check_queuedisk_usage
        service_description     IronPort Queuedisk Usage
        __MODE                  queuedisk_usage
        __WARNING               90
        __CRITICAL              95
        register                0
}


# Edited by PyNag on Wed Jul 27 11:38:00 2011
define service {
	use                           okc-ironport-service
	name                          okc-ironport-check_resourceconservation
        service_description     IronPort Resource Conservation
        __MODE                  resourseconservation
        __WARNING               1
        __CRITICAL              2
        register                0
}





# Hardware Checks via SNMP
# Edited by PyNag on Wed May 30 14:06:32 2012
define service {
	use                           okc-ironport-service
	name                          okc-ironport-check_env
	check_command                 okc-ironport-check_env
	service_description	IronPort Hardware Status
	__SNMP_USERNAME		v3get
	__SNMP_PASSWORD		password
	register		0
}



# Generic SMTP Check

# Edited by PyNag on Wed Jul 27 11:38:01 2011
define service {
	use                           okc-ironport-service
	name                          okc-ironport-check_smtp
	service_description	SMTP
	check_command		check_smtp
	register		0
}


# SNMP Based web security checks
# Edited by PyNag on Wed Jul 27 11:38:01 2011
define service {
	use                           okc-ironport-service-snmp
	name                          okc-ironport-check_cpu_snmp
        service_description     IronPort CPU Utilization
	__WARNING		101
	__CRITICAL		102
	__MODE			cpu
        register                0
}

# Edited by PyNag on Wed Jul 27 11:38:01 2011
define service {
	use                           okc-ironport-service-snmp
	name                          okc-ironport-check_mem_snmp
        service_description     IronPort Memory Utilization
        __WARNING               101
        __CRITICAL              102
        __MODE                  memory
        register                0
}


# Edited by PyNag on Wed Jul 27 11:38:01 2011
define service {
	use                           okc-ironport-service-snmp
	name                          okc-ironport-check_openfiles_snmp
        service_description     IronPort Open Files
        __WARNING               100000
        __CRITICAL              150000
        __MODE                  openfiles
        register                0
}

# Edited by PyNag on Wed Jul 27 11:38:01 2011
define service {
	use                           okc-ironport-service-snmp
	name                          okc-ironport-check_powersupplies_snmp
        service_description     IronPort Power Supply Status
        __WARNING               100000
        __CRITICAL              150000
        __MODE                  powersupplies
        register                0
}

# Edited by PyNag on Wed Jul 27 11:38:01 2011
define service {
	use                           okc-ironport-service-snmp
	name                          okc-ironport-check_temp_snmp
        service_description     IronPort Temperature Status
        __WARNING               29
        __CRITICAL              35
        __MODE                  temp
        register                0
}

# Edited by PyNag on Wed Jul 27 11:38:01 2011
define service {
	use                           okc-ironport-service-snmp
	name                          okc-ironport-check_licences_snmp
        service_description     IronPort Licence Status
        __WARNING               2592000
        __CRITICAL              432000
        __MODE                  licences
        register                0
}

# Edited by PyNag on Wed Jul 27 11:38:01 2011
define service {
	use                           okc-ironport-service-snmp
	name                          okc-ironport-check_raid_snmp
        service_description     IronPort Raid Status
        __WARNING               29
        __CRITICAL              35
        __MODE                  raid
        register                0
}


