define command {
	command_name	okc-apc-check_apcext
	command_line	$USER1$/check_apcext.pl -H '$HOSTADDRESS$' -C '$_SERVICE_SNMP_COMMUNITY$' -w '$_SERVICE_WARNING$' -c '$_SERVICE_CRITICAL$' -p '$_SERVICE_MODE$' $_SERVICE_EXTRA_OPTIONS$
}


# Checks APC Health via SNMP

# Edited by PyNag on Wed May 30 10:18:43 2012
define command {
	command_name                  okc-apc-check_health
        command_line            $USER1$/check_snmp_apc_ups -H $HOSTADDRESS$ -C $ARG1$
}

