# Edited by PyNag on Wed May 30 10:19:16 2012
define command {
	command_name                  okc-ibm-check_bladecenter
	command_line		$USER1$/check_ibm_bladecenter.py -H $HOSTADDRESS$ --snmp_version $_SERVICE_SNMP_VERSION$ --snmp_community $_SERVICE_SNMP_COMMUNITY$ --mode $_SERVICE_MODE$ --warning $_SERVICE_WARNING$ --critical $_SERVICE_CRITICAL$ $_SERVICE_EXTRA_ARGUMENTS$
}
