# Edited by PyNag on Wed May 30 14:06:26 2012
define service {
	use			generic-service
	name                          okc-ibm-bladecenter-service
	__SNMP_COMMUNITY	public
	__SNMP_VERSION		1
	__WARNING		0
	__CRITICAL		0
	register		0
	check_command                 okc-ibm-check_bladecenter
}

# powermodules,system-health,temperature,chassis-status,bladehealth

# Edited by PyNag on Wed Jul 27 11:37:56 2011
define service {
	use                           okc-ibm-bladecenter-service
	name                          okc-ibm-bladecenter_powermodules
	service_description	Bladecenter Powermodules
	__MODE			powermodules
	register		0
}

# Edited by PyNag on Wed Jul 27 11:37:56 2011
define service {
	use                           okc-ibm-bladecenter-service
	name                          okc-ibm-bladecenter_system-health
	service_description	Bladecenter System Health
	register		0
	__MODE			system-health
}


	
# Edited by PyNag on Wed Jul 27 11:37:56 2011
define service {
	use                           okc-ibm-bladecenter-service
	name                          okc-ibm-bladecenter_temperature
	service_description	Bladecenter Temperature
	__MODE			temperature
	__WARNING		28
	__CRITICAL		35
	register		0
}


	
# Edited by PyNag on Wed Jul 27 11:37:56 2011
define service {
	use                           okc-ibm-bladecenter-service
	name                          okc-ibm-bladecenter_chassis-status
	service_description	Bladecenter Chassis 
	__MODE			chassis-status
	register		0
}


	
# Edited by PyNag on Wed Jul 27 11:37:56 2011
define service {
	use                           okc-ibm-bladecenter-service
	name                          okc-ibm-bladecenter_bladehealth
	service_description	Bladecenter Bladehealth
	__MODE			bladehealth
	register		0
}


# Edited by PyNag on Wed Jul 27 11:37:56 2011
define service {
	use                           okc-ibm-bladecenter-service
	name                          okc-ibm-bladecenter_blowers
        service_description     Bladecenter Blowers
        __MODE                  blowers
        register                0
}


# Edited by PyNag on Wed Jul 27 11:37:56 2011
define service {
	use                           okc-ibm-bladecenter-service
	name                          okc-ibm-bladecenter_switchmodules
        service_description     Bladecenter Switchmodules
        __MODE                  switchmodules
        register                0
}
	
# Edited by PyNag on Wed May 30 14:06:26 2012
define service {
	use                           okc-ibm-bladecenter-service
	name                          okc-ibm-check_snmp_connectivity
	_SNMP_COMMUNITY		public
        service_description     SNMP Connectivity
	check_command                 okc-check_snmp_connectivity
        register                0
}
	
	
