
define host {
        name		generic-server-dev          

	use		generic-server
	contact_groups	servers-dev
	register	0
}

define host {
        name		generic-server-prod          

	use		generic-server
	contact_groups	servers-prod
	register	0
}

define host {
        name		generic-server-crit          

	use		generic-server

	check_period		24x7		
	check_interval		5		
	retry_interval		1		
	max_check_attempts	10		
	check_command		check-host-alive	
	notification_period	24x7		
	notification_interval	30		
	notification_options	d,r		

	contact_groups	servers-crit
	register	0
}

define host {
        name                            generic-server    
        notifications_enabled           1       	
        event_handler_enabled           1       	
        flap_detection_enabled          1       	
        failure_prediction_enabled      1       	
        process_perf_data               1       	
        retain_status_information       1       	
        retain_nonstatus_information    1       	
        check_interval                  5               
        retry_interval                  1               
	check_command		check-host-alive
	notification_period		24x7		
	max_check_attempts		10
	contact_groups			servers
        register                        0       	
}

