# Edited by PyNag on Wed May 30 10:19:19 2012
define command {
	command_name                  okc-multicast-check_snmp
	command_line	$USER1$/check_snmp -H $HOSTADDRESS$ -C $_SERVICE_SNMP_COMMUNITY$ -o $_SERVICE_OIDBASE$.$_SERVICE_MCAST_ADDRESS$.$_SERVICE_HOSTNAME$.$_SERVICE_BROADCAST$ -c 2:2 $ARG1$
}
